<html>
	<head>
	<title>Login with Facebook using PHP by CodexWorld</title>
	<style type="text/css">
	    h1{font-family:Arial, Helvetica, sans-serif;color:#999999;}
	</style>
	</head>
	<body>
		{% block main %}
		{% endblock %}
	</body>
</html>
